<!doctype html>
<html ng-app="questApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/mystyles.css" />
</head>
<body>
<nav><a href="#/question">Вопрос</a>|<a href="#/answer">Ответить</a></nav>
<ng-view></ng-view>
<script src="static/js/lib/angular.min.js"></script>
<script src="static/js/lib/angular-route.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/dataService.js"></script>
<script src="static/js/controllers/QuestionController.js"></script>
<script src="static/js/controllers/AnswerController.js"></script>
</body>
</html>