<html>
    <head>
    
    </head>
    <body>
        <div class="container">
            <div class="form-group">
                <form>
                    <label>Login</label>
                    <input placeholder="Enter your login"></input>
                </from>
                <form>
                    <label>Password</label>
                    <input placeholder="Enter password"></input>
                </form>
                <form>
                    <label>First Name</label>
                    <input placeholder="Enter password"></input>
                </form>
                <form>
                    <label>Second Name</label>
                    <input placeholder="Enter password"></input>
                </form>
             <button>Login</button>
             <button>Sign Up</button>
            </div>
            <div class = 'pop-up windows'></div>
        </div>
    </body>
</html>