
<html ng-app="visualApp">
<head>
  <title></title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
  <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

</head>
<body >
<div class ="left">
    <ul>
        <li>Status</li>
        <li>Approved</li>
        <li>Completed</li>
        <li>Ready to Start</li>
        <li>Not Started</li>
    </ul>
    <ul>
        <li>Task</li>
        <li>Layout</li>
        <li>Animation</li>
        <li>Rendering</li>
        <li>Compositing</li>
    </ul>
</div>
<div ng-controller="data">
    
    <p ng-bind="ldata"></p>
    <p ng-bind="secondName"></p>
</div>
<div class = "container-fluid text-center" id = "mainSVG">
        <svg class='barchart'></svg>
</div>

<canvas></canvas>
<script>




var pdata = d3.json("/getDataCSV",function(error,data){
    da = Object.keys(data['Duration']).map(k => data['Duration'][k]);
    console.log(da);
    console.log(Object.keys(data['Duration']).map(k => data['Duration'][k]));
    console.log( data['Duration']);
    RenderData(da);
});
function RenderData(da)
{
var height = 500;
var width=960;
var margin=10;
var canvas = document.querySelector("canvas"),
    context = canvas.getContext("2d");
canvas.style.width = 500;
canvas.style.height = 300;
context.translate(100,100);
var radius  = Math.min(width, height) / 2;
var color = d3.scale.ordinal().range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);
var arc = d3.arc()
            .outerRadius(radius)
            .innerRadius(0)
            .padAngle(0.03)
            .context(context);    

var arcs = d3.pie()(da);

context.globalAlpha = 0.5;

arcs.forEach(function(d,i) {
    console.log(d);
    context.beginPath();
    arc(d);
    context.fill();
});


context.globalAlpha = 1;
context.beginPath();
arcs.forEach(arc);
context.lineWidth = 1.5;
context.stroke();

}
</script>

<script crs="/static/js/visual.js"></script>
<script crs="/static/js/controls.js"></script>
</body>
</html>
